// Theme styles
@import "bootstrap.overwrite";
@import "variables";
@import "sprites.css";
@import "~rc-slider/assets/index.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html {
  position: relative;
  font-size: 62.5%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 1280px) {
  html {
    overflow-x: hidden;
  }
}
body {
  font-size: 1.4rem;
  background-color: $white-color;
  color: $text-color;
  position: relative;
  font-family: 'Roboto', "Segoe UI", -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  &.modal-open {
    padding-right: 0px !important;
  }
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3, h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
p.pre {
  white-space: pre-line;
}
.main-mobile {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  position: relative;
}
//common style
.color-primary {
  color: $primary-color;
}
.primary-color {
  color: $primary-color;
}
.blue-color {
  color: $blue-color;
}
.green-color {
  color: $green-color;
}
.strong-color {
  color: $strong-color;
}
.gray-color {
  color: $gray-color;
}
.gray-1-color {
  color: $gray-1-color;
}
.white-color {
  color: $white-color;
}
.red-color {
  color: $red-color;
}
.text-color {
  color: $text-color;
}
.bold-color {
  color: $bold-color;
}
.clickable {
  cursor: pointer;
}
.bg-primary {
  background: $primary-color;
}
.bg-primary-blur {
  background: $primary-backgrond-color;
}
.bg-white {
  background: $white-color;
}
.text-line-through {
  text-decoration: line-through;
}
.row-flex {
  display: flex;
  &.item-center {
    align-items: center;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
}
.col-flex {
  display: flex;
  flex-direction: column;
  &.item-center {
    align-items: center;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex1 {
  flex: 1;
}
.padding-xs {
  padding: 10px;
}
.padding-md {
  padding: 15px;
}
.margin-xs {
  margin: 10px;
}
.margin-md {
  margin: 15px;
}
.voffset-xs {
  margin-top: 10px
}
.voffset-md {
  margin-top: 15px
}
.voffset-lg {
  margin-top: 20px
}
.voffset-llg {
  margin-top: 30px
}
.left-offset-xs {
  margin-left: 10px
}
.left-offset-md {
  margin-left: 15px
}
.left-offset-lg {
  margin-left: 20px
}
.font-xs {
  font-size: 1.2rem;
}
.font-size-16 {
  font-size: 1.6rem;
}

.no-padding-container {
  padding-left: 0;
  padding-right: 0;
}
ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 1rem;
  }
}
.avatar {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin-right: 5px;
    &.isSticky{
      display: none;
    } 
}
.link {
  cursor: pointer;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}
.icon {
  display: inline-block;
}
.text-link {
  cursor: pointer;
  color: $text-color;
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}
.text-select {
  cursor: text;
}
.clear-text-style {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
.no-underline {
  text-decoration: none !important;
}
// * Select item menu */
.select-ct {
  border-bottom: 1px solid $gray-color;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary-color;
  text-decoration: none !important;
  >div {
    padding: 1rem 0;
    color: $primary-color;
  }
}
.ic-select-t {
  >span {
    padding: 5px;
    color: $strong-color;
    &:hover {
      color: $primary-color;
    }
  }
  .fa-chevron-down {
    font-size: 1.2rem;
  }
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
}

.ul-select-rarito {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 5px 0;
    cursor: pointer;
    a {
      color: $text-color;
      text-decoration: none;
      outline: none !important;
    }
    &:before {
      content: "\f111";
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      padding-right: 1rem;
    }
    &.divider {
      &:before {
        content: none;
      }
      padding: 0;
      margin: 2px 0;
      background-color: $border-color;
      height: 1px;
    }
    &.active {
      &:before {
        content: "\f192";
        color: $primary-color;
      }
      a {
        color: $primary-color !important;
      }
    }
  }
}

.max-1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.g-recaptcha {
  display: none;
}

.news {
  margin: 0;
  padding: 0 0 0 15px; 
  .news__item {
    font-size: 1.4rem;
    margin: 0 0 10px;
    a {
      color: $text-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* Slider */

.view-all-photo-slide-modal {
  .modal-body {
    padding: 3px 3px 0 3px;
  }
  .modal-header {
    background: $gray-color !important;
    padding: 10px !important;
    color: $text-color !important;
    border-top: none !important;
    a {
      font-size: 1.8rem;
    }
  }
  .image-gallery-left-nav {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    &:before {
      font-size: 4rem;
    }
    &:hover {
      &:before {
        color: $primary-color;
      }
    }
  }
  .image-gallery-right-nav {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    &:before {
      font-size: 4rem;
    }
    &:hover {
      &:before {
        color: $primary-color;
      }
    }
  }
  .control-actions {
    padding: 2px 10px 10px 10px;
  }
  .image-gallery-image {
    min-height: 440px;
  }
  .image-gallery-thumbnail.active {
    border: 3px solid $primary-color;
  }
}

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.send-message-header{
  font-size: 14px;
  padding-left: 20px;
  font-weight: bold;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}
.slick-slide div {
  outline: none !important;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
      float: right;
  }
  img {
      display: block;
  }
  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

//Custom Icon

.cfji-carmera {
  display: inline-block;
  background: url('/public/next-desktop/images/camera.png') no-repeat;
  background-size: cover;
	width: 20px;
	height: 16px;
  font-size: 10px;
  text-align: center;
  padding-top: 2.5px;
  font-style: normal;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Home page*/
.trans-step-wrap {
  margin: 110px 0;
  position: relative;
  .trans-step {
    position: relative;
    >span {
      &:first-child {
        display: flex;
        width: 30px;
        height: 30px;
        background: $primary-color;
        color: $white-color;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
      }
      &.pipeline {
        display: flex;
        align-items: center;
        i {
          color: $primary-color;
        }
        &:before, &:after {
          content: " ";
          display: block;
          width: 15px;
          height: 2px;
          background: $text-color;
        }
      }
    }
  }
  .circle-wrap {
    position: absolute;
    display: inline-block;
    left: -28px;
    &.up {
      top: -104px;
      .line-v {
        margin-bottom: 0px;
      }
    }
    .line-v {
      width: 100%;
      text-align: center;
      margin-bottom: -6px;
      >span {
        display: inline-block;
        height: 18px;
        width: 2px;
        background: $text-color;
      }
    }
    .circle {
      position: relative;
      display: flex;
      width: 86px;
      height: 86px;
      background: $white-color;
      color: $primary-color;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      border: 1px solid $primary-color;
      padding: 8px;
    }
    .helper {
      position: absolute;
      right: 0px;
      bottom: 0px;
      color: $text-color;
    }
  }
}

@media screen and (max-width: 375px) {
  .trans-step-wrap {
    .trans-step {
      >span {
        &.pipeline {
          &:before, &:after {
            width: 11px;
          }
        }
      }
    }
    .circle-wrap {
      left: -20px;
      &.up {
        top: -88px;
      }
      .circle {
        width: 70px;
        height: 70px;
        font-size: 1.2rem;
      }
    }
  }
}
$bar-height: 5rem;
.CustomerFeedback{
    padding: 5px 0px;
    h4{
        font-size: 2rem;
    }
    .feed-back-qa{
        font-weight: bold;
        margin-top: 1rem;
    }
    .satisfy-bar.progress{
        height: $bar-height;
        margin: 1.5rem 2rem;
        border-radius: 8px;
    }
    .satisfy-bar .progress-bar{
        font-size: 1.8em;
        font-weight: bold;
        line-height: $bar-height;
        height: $bar-height;
        &.separate-bar{
            background: #fff;
        }
    }
    .donut-chart-image{
        max-width: 50%;
        flex: 1;
        position: relative;
        img{
            max-width: 100%;
        }
    }
    .chart-label{
        flex: 1;
        flex-direction: column;
        display: flex;
        justify-content: center;
        div{
            margin-left: 1rem;
            font-weight: bold;
            .square{
                width: 8px;
                height: 8px;
                display: inline-block;
                display: inline-flex;
                margin-right: 1rem;
                &.lb-value{
                    background-color: #3ab5e5;
                }
                &.lb-huge-stock{
                    background-color: #e05153;
                }
                &.lb-pro{
                    background-color: #a5a5a5;
                }
                &.lb-support{
                    background-color: #a9d18e;
                }
                &.lb-other{
                    background-color: #0c4b92;
                }
            }
        }
    }
}

.inquiri-btn-on-modal {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  height: 50px;
  .cfj-button {
    margin-left: 2rem;
  }
  .cfj-button > div {
    padding: 0 2rem;
    .icon-left {
      margin-right: 3rem;
    }
  }
  >i {
      margin-right: 2rem;
      color: $primary-color;
      font-size: 2rem;
  }
}

#video-top-page-mob {
  position: relative;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}


/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.btn-toolbar{
  margin-right: .5rem;
}

.combine-selector{
  width: 100%;
  .btn.dropdown-toggle{
    width: 100%;
    height: 3.6rem;
    text-align: left;
    border-color: $border-color;
    color: $text-color;
    box-shadow: none !important;
    &:focus, &:active, &:hover{
      background: #fff;
      box-shadow: none !important;
    }
    &.has-value{
        border-color: $primary-color;
        color:  $primary-color;
    }
  }
  &.open{
    .btn.dropdown-toggle{
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #fff;
    }
  }
  .dropdown-menu{
    margin: 0;
    border-top: 0;
    width: 100%;
    padding: .8rem;
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .select-raw-container.form-group{
      margin-top: .8rem;
      select{
        height: 32px;
        background-color: #eaeaea;
        border: none !important;
      }
    }
  }
}

.place-holder-preload{
  padding-top: 2rem;
  .preload-img{
    width: 10rem;
    height: 8.5rem;
  }
  .preload-p{
    height: 1.4rem;
  }
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-placeholder {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #d9d9d9 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

@media (min-width: 768px){
	.video-responsive{
		text-align: center;
	}
}