$primary-color: #48A2D7;
$primary-backgrond-color: #D2E5F3;
$text-color: #6F6F6F;
$strong-color: #333333;
$danger-color: #F5C6CC;
$warning-color: #FFEEBA;
$border-color: #d8d8d8;

$white-color: #FFFFFF;
$gray-color: #E6E6E6;
$blue-color: #0F4B90;
$red-color: #E15355;
$red-bold-color: #b53436;
$green-color: #149718;
$green-border-color: #BBECBC;

$blue-alert: #daedf8;
$blue-border: #9edce9;
$yellow-star: #f8931f;

$gray-1-color: #cccccc;
$bold-color: #666666;